*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #F6FAFF;
    --overlay: #040911;
    --icons-datais: #A5b0c1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-light: #E5EAF1;

    /*1rem = 16px (User Agent) = 100% (User Agent)*/
    font-size: 62.5%; /*10 px*/
}

body{
    height: 100vh;
    background: var(--background);
}

body, button, input, textarea{
    /*intervalo de tamanho*/
    font-size: clamp(14px, 1.6rem, 2vw);
}
